@import "tailwindcss";

@theme {
  --color-background: #100e0e;
  --color-primary: #f4f0f0;
  --color-secundary: #878686;
  --color-secundary: #878686;
  --color-surface: #1a1818;

  --color-non-interactive: #3a3a3a;

  --font-sans: "Geist Mono", sans-serif;
}

body {
  background-color: var(--color-background);
}
